<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nimbus</title>
  <link rel="shortcut icon" type="image/icon" href="{{url_for('static', filename='project-logo/logo.png')}}"/>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
{% set desc = current.description | lower %}

<body>
    <nav class="nav-bar">
    <ul>
      <li>
        <div>
          <div class="site-name-logo"><a class="" href="{{url_for('show_weather')}}"><img class="site-name-logo" src="{{url_for('static', filename='project-logo/logo.png')}}" ><h1>Nimbus</h1></a></div>
        </div>
      </li>
      <li>
        <div class="current-location" style="position: absolute;left: 50%;transform: translateX(-50%);"><h2>Weather in <a style="text-decoration: none;" href="https://www.google.com/maps/place/{{ city + ' '+ country| urlencode }}" target="_blank">{{ city }},
          {% if state %} {{ state }},{% endif %}
           {{ country }}
           </a>
        </h2>
        <div class="time" style="display:grid; text-align: center;font-family: 'Nunito', sans-serif;">
          <div id="region"> </div>
          <div id="clock" style="text-align:center; padding:10px;"></div>
        </div>
      </div>
      </li>
      <li>
        <form method="get" action="/">
          <div class="search-container">
            <div class="search-content">
              <input class="search-bar" id="searchInput" name="searchInput" placeholder="Please enter the location" required>
              <button class="clear" type="button" onclick="clearInput()">
                <img src= "{{ url_for('static', filename='icon/clear.png') }}" alt="Clear">
              </button>
            </div>
            <button class="search-btn" type="submit">
              <img class="icon" src="{{ url_for('static', filename='icon/search.png')}}" alt="Search">
            </button>
          </div>
        </form>
      </li>
    </ul>
  </nav>
  
  {% if error %}
  <div class="error-banner">
    <p>{{ error }}</p>
  </div>
  {% endif %}

  <div class="body-content">
    <div class="left-panel">
    <div class="current-status
  {% if 'storm' in desc %}
    storm-theme
  {% elif 'overcast' in desc or 'cloud' in desc %}
    overcast-theme
  {% elif 'clearsky' in desc or 'clear' in desc %}
    clearsky-theme
  {% elif 'rain' in desc or 'drizzle' in desc %}
      rain-theme
  {% else %}
    none
  {% endif %}">
      <div class="card-section-title">🌤️ <div style="font-family: 'Raleway', sans-serif;">Live Weather</div></div>


 
      {% if current %}
      <div class="row">
        
        <div class="card">
          <div class="card-title">🌡️ Temperature</div>
          <div class="card-label"><img class="status-icon"src="{{ url_for('static', filename='icons/temperature.png')}}" alt="Temperature:"></div>
          <div class="card-value">{{ current.temp }}°F </div>
        </div>
        <div class="card">
          <div class="card-title">☁︎⋅ Weather</div>
          <div class="card-label"><img class="status-icon" src="{{ url_for('static', filename='icons/weather.png')}}" alt="Condition:"></div>
          <div class="card-value">{{ current.description }}</div>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <div class="card-title">🫧 Humidity</div>
          <div class="card-label"><img class="status-icon" src="{{ url_for('static', filename='icons/humidity.png')}}" alt="Condition:"></div>
          <div class="card-value">{{ current.humidity }}%</div>
        </div>
        <div class="card">
          <div class="card-title">🍃 Windspeed</div>
          <div class="card-label"><img class="status-icon" src="{{ url_for('static', filename='icons/kaze.png')}}" alt="Condition:"></div>
          <div class="card-value">{{ current.windspeed }} mph</div>
        </div>
      </div>
      
      {% else %}
      <p>No weather data available.</p>
      {% endif %}
    </div>


    <div class="weekdays">
      {% for date, max_temp, min_temp, desc, icon in zip(forecast.dates, forecast.temps_max, forecast.temps_min, forecast.descriptions, forecast.icons) %}
        <div class="card">
          <p><strong>{{ date }}</strong></p>
          <hr styles="width:1px;height:100px;"></hr>
          <img src="{{ icon }}" alt="icon" width="40">
          <p>{{ desc }}</p>
          <p>↑ {{ max_temp }}°F</p>
          <p>↓ {{ min_temp }}°F</p>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="right-panel">
    <div class="graph" id="graph"> 
      <h1 style="display:block; text-align: center;">Weekly Temperature Forecast</h1>
      <div class="mytabs">
        <!-- Tab selector -->
        <input type="radio" id="fahrenheit" name="tab" checked>
        <label class="toggle-button" for="fahrenheit">Fahrenheit</label>

        <input type="radio" id="celsius" name="tab">
        <label class="toggle-button" for="celsius">Celsius</label>

        <!-- Fahrenheit tab content -->
        <div class="tabs" id="tab-fahrenheit">
          <h2>7-Day Forecast (°F)</h2>
          <img class="graph-image" src="{{ url_for('serve_graph_F') }}" alt="Temperature Graph in Fahrenheit">
        </div>

        <!-- Celsius tab content -->
        <div class="tabs" id="tab-celsius">
          <h2>7-Day Forecast (°C)</h2>
          <img class="graph-image" src="{{ url_for('serve_graph_C') }}" alt="Temperature Graph in Celsius">
        </div>
      </div>
    </div>
      
  </div>
</div>
  
  


  <!--
  
  <div class="panel">
    <img class="background-img" src="background/cloudy.png" alt="">
  </div>
  -->
  <script>
    function clearInput() {
      document.getElementById("searchInput").value = "";
    }
    const timeZone = "{{ local_time }}";
    function convertTimeZone(){
      const now = new Date();
      const options = {
        timeZone: timeZone,
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit",
        hour12: true
      };
      const formatter = new Intl.DateTimeFormat("en-US", options);
      const formattedTime = formatter.format(now);
      document.getElementById("region").textContent = `Region: ${timeZone}`;
      document.getElementById("clock").textContent = `Local Time: ${formattedTime}`;
    
    }
    convertTimeZone(); // initial call
    setInterval(convertTimeZone, 1000);
  </script>
</body>
</html>
